[user]
  name = lkorth
  email = luke@lukekorth.com
[color]
  ui = auto
[alias]
  co = checkout
  online = log --pretty=format:\"%h %ad%x20%s%x20%x28%an%x29\" --date=short
  pull = pull --rebase
  staged = diff --cached
[core]
  autocrlf = input
[push]
	default = simple
[credential]
	helper = cache
